name: Release

on:
  release:
    types: [published]

permissions:
  contents: write
  pull-requests: write

env:
  ZIP_LAMBDA: lambda-${{github.event.release.tag_name}}.zip
  ZIP_CHROMIUM: chromium-${{github.event.release.tag_name}}.zip
  ZIP_LIBS: libs-${{github.event.release.tag_name}}.zip
  ZIP_FONTS: fonts-${{github.event.release.tag_name}}.zip

jobs:
  upload-artifact:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: install deps
        run: |
          corepack enable
          yarn

      - name: Build `lambda` function
        run: |
          yarn build
          echo '{"type": "module"}' > dist/package.json
          zip -rj ${{env.ZIP_LAMBDA}} dist

      - name: Build `chromium` layer
        run: |
          mkdir work-chromium
          cd work-chromium
          git clone --depth=1 https://github.com/sparticuz/chromium.git
          cd chromium
          make ${{env.ZIP_CHROMIUM}}
          mv ${{env.ZIP_CHROMIUM}} ../../

      - name: Build `libs` layer
        run: |
          mkdir nodejs
          rm -rf node_modules
          yarn workspaces focus --production
          cp -r node_modules nodejs
          zip -r ${{env.ZIP_LIBS}} nodejs

      - name: Build `fonts` layer
        run: |
          mkdir work-fonts
          cd work-fonts
          git clone --depth=1 https://github.com/dev-protocol/stackroom.git
          cd stackroom/fonts
          mv IBM_Plex_Sans_JP/* ./
          rm -rf IBM_Plex_Sans_JP
          mv Noto_Color_Emoji/* ./
          rm -rf Noto_Color_Emoji
          cd ../
          zip -r ${{env.ZIP_FONTS}} fonts
          mv ${{env.ZIP_FONTS}} ../../

      - name: Upload Artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.event.release.tag_name }} ${{env.ZIP_LAMBDA}} ${{env.ZIP_CHROMIUM}} ${{env.ZIP_LIBS}} ${{env.ZIP_FONTS}}
